* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(159, 154, 154);
}

.header {
  text-shadow: 5px 5px white;
  margin-top: 5px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.section-range {
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.range-selector-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline-range-divs {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.colour-selection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  width: 70px;
}

.sketchpad {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 500px;
  margin-bottom: 20px;
}

.row {
  display: flex;
}

.gridBox {
  border: 1px rgba(0, 0, 0, 0.044) solid;
}

button {
  padding: 8px;
  border-radius: 7px;
  border: none;
}

button:hover {
  font-weight: 800;
  cursor: pointer;
}
.bw-colour-btn:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.rgb-colour-btn:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 255, 0, 1) 50%,
    rgba(0, 0, 255, 1) 100%
  );
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.rgb-colour-background {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 255, 0, 1) 50%,
    rgba(0, 0, 255, 1) 100%
  );
}

.wipe-btn {
  display: flex;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 10px;
}

.wipe-btn:hover {
  background: rgb(238, 6, 45);
  color: white;
}

.footer {
  color: white;
  margin: 0 auto;
  width: 500px;
  height: 50px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.para-github img {
  width: 25px;
  height: 25px;
  margin-top: -6px;
  background: white;
}
.para-github {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.para-github a:hover {
  color: yellow;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}
